@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html {
	height:100%;
	background-color: #202020;
	font-family: 'Open Sans', arial, serif; 
	color:#f2f2f2
}

svg * {
    transition: fill .1s ease-out, opacity .25s ease-out;
}

#mosaic-landscape {
	display:inline-block;
	height:100%
}
#mosaic-portrait{
	display:none
}
/*TO DO - set font sizes depending on width*/

@media all and (max-width: 640px) {
	#mosaic-landscape {
		display:none
	}
	#mosaic-portrait{
		display:inline-block;
	}
}


/* SVG styles */
.green-fill{fill:#86FD0F;}
.gray-fill{fill:#545454;}
.font-size-36px{font-size:40px;}
.letter-spacing-4px{letter-spacing:4px;}
.yellow-fill{fill:#CEFF00;}
.light-black-fill{fill:#282828;}
.logo-green{fill:#B8FA12;}
.logo-gray{fill:#333333;}
.logo-white{fill:#f2f2f2;}
.font-size-32px{font-size:32px;}
.letter-spacing-6px{letter-spacing:6px;}

/* Button Transitions*/
.triangle-top-green-btn_1_:hover polygon{
	fill:#545454
}
.triangle-top-green-btn_1_:hover text{
	fill:#86FD0F
}	
.triangle-top-yellow-btn_1_:hover polygon{
	fill:#545454
}
.triangle-top-yellow-btn_1_:hover text{
	fill:#CEFF00
}		
.triangle-bottom-green-btn_1_:hover polygon{
	fill:#545454
}
.triangle-bottom-green-btn_1_:hover text{
	fill:#86FD0F
}

